/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body
{
    height:100vh;
}
.mainContainer
{
    display:flex;
    flex-direction:row;
}
.toolbar
{
    color:white;
    position:absolute;
    top:0;
    left:0;
    width:25%;
    background-color:royalblue;
    height:100%;
    overflow-y:scroll;
}
.brand
{
    padding: 20px 0 5px 10px;
    color:inherit;
    font-size:4.2vh;
    font-weight:400;
    border-bottom: 3px solid snow;
}
.pages
{
    margin: 10px 0 0 20px;
}
.pageLink
{
    width:100%;
    color:white;
    font-size:2.7vh;
    text-decoration:none;
}
.renderBody
{
    margin-left:25%;
    display:flex;
    width:80vw;
}
main
{
    width:100%;
}
main > div
{
    margin:20px 0 20px 0;

}
.codeResult
{
    font-size:3vh;
    margin-top: 50px;
}